# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules

# Build output
dist
dist-ssr

# Local files
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment Variables
.env
.vercel

src/assets/Categories/Women.jpg
src/assets/HeroMainImg.jpg
src/assets/MenHeroSection.avif
src/assets/MenHeroSection2.avif
src/assets/banner/b17.jpg
src/assets/banner/b18.jpg
src/assets/banner/b4.jpg
src/assets/banner/b7.jpg